

<div class="newMsg">
  <br>
  <form class="newMsgForm">
    <!-- <input type="text" class="form-control" placeholder="Choose friend to message"> -->
    <button id="newMsgBttn"type="button" class="btn btn-danger" routerLink="/message">New Message</button><br>
  
  </form>

</div>
<div class = "addFriends">
  <form class = "addFriends">
    <input id ="friendRequest"type = "text" placeholder="Enter Friend's username" size="25"> 
    <button id="addFriend"type="button" class="btn btn-danger" (click)= friendRequest()>Add Friend</button>
  </form>
</div>
<br>
<div class = "friendsList">
<table class="table table-bordered">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let friend of Friends" >
      
      <!-- <td><img [src]="{{el.profile_pic}}"></td> -->
      
      <td>{{friend.name}}</td>
      <td><button id ="viewBtn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#msgModal">View Message</button></td>
    </tr>
  </tbody>
</table>
</div>


