

<div class="newMsg">
  <br>
  <form class="newMsgForm">
    <!-- <input type="text" class="form-control" placeholder="Choose friend to message"> -->
    <button id="newMsgBttn"type="button" class="btn btn-danger" routerLink="/message">New Message</button><br>
  
  </form>

</div>
<div class = "addFriends">
  <form class = "addFriends">
    <input id ="friendRequest"type = "text" placeholder="Enter Friend's username" size="25"> 
    <button id="addFriend"type="button" class="btn btn-danger" (click) = friendRequest() >Add Friend</button>
  </form>
</div>
<br>
<div class = "friendsList">
<table class="table table-bordered">
  <thead class="black white-text">
    <!-- <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      <div *ngFor="let friends of Friends">
        <div>{{friends.username}}</div>
        <div><button value="{{friends.mergedId}}"></button></div>
      </div>
    </tr> -->
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let friend of Friends" >
      
      <!-- <td><img [src]="{{el.profile_pic}}"></td> -->
      
      <td>{{friend.username}}</td>
      <td><button id ="viewBtn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#msgModal" (click)="checkMessages(friend.uid)">View Messages</button></td>
    </tr>
  </tbody>
</table>
</div>

<div class="messageWindow">
  <div id="menu">
    <p class="welcome"></p>
  </div>

  <div id="chatbox">
    <div *ngFor="let message of Messages">
        <span id="mbtext">{{message.userID}}</span>
        <p>{{message.messageBody}}</p><br>
    </div>
  </div>
  <form name="message" action="">
    <input name="usermsg" type="text" id="usermsg" size="63"/>
    <!-- <input class="btn btn-danger" name="submitmsg" type="submit" id="submitmsg" value="Send"/> -->
    
  </form>
</div>
<!-- <div class="container">
  <div class="side_nav2">
    <nav class="nav flex-column">
      <ul *ngFor="let friend of Friends">
        <div id="myFriends">{{friend.username}}</div><br>
      </ul>
    </nav>
  </div>
</div> -->


