.friendsList{
    margin: 0px auto;
    width: 50%;
    position: relative;
    
}
.black white-text{
    background-color: red;
}
#newMsgBttn{
  text-align: center; 
  display: block;
  margin: 0 auto;

}
.btn{
  padding: 10px;
}
.bottom_wrapper{
  //position: absolute;
  display: inline-block;
}
.addFriends{
  //position: relative;
  //display: inline-block;
  margin-left: 50mm;
}
#addFriend{
  margin-left: 10px;
}
#viewBtn{
  margin-left: 50px;
}