

<div class="loginContainer">
    <form>
        <div class="alert alert-danger" *ngIf="loginError">
                    {{loginError}}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" name="username"  placeholder="Enter username" [(ngModel)]="username" >
            
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>  -->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)] = "password" >
            <small id="pwHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
       
        <!--<button type="button" (click) = checkLogin() (click)= checkAdminLogin() class="btn btn-danger"  >Submit</button><br>-->
        <button type="button" (click) = checkPath() class="btn btn-danger"  >Submit</button><br>
        <button type="button" id ="createBtn"class="btn btn-link" routerLink="/createacct">Create Account</button>
    </form>

</div>
