
<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
  <div class="container">   
    <a routerLink="/home" class="logo">TwoCan</a>
    <nav> 
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a  routerLink="/login">Log-In</a></li>
      </ul>
    </nav>
  </div> 
</header>


<div class="container">
    <div class="side_nav">
        <nav class="nav flex-column">
              <ul>      
              <a *ngIf="loginService.isUserLoggedIn() "  routerLink="/friends" class="nav-link " >Friends</a>
              <a *ngIf="loginService.isUserLoggedIn(); "  class="nav-link" routerLink="/groups">Groups</a>
              <a *ngIf="loginService.isUserLoggedIn(); "  class = "nav-link" routerLink="/settings">Settings</a> 
              <a *ngIf="loginService.isUserLoggedIn(); "  routerLink="/login" (click)=logout() class = "nav-link"   >Logout</a>
              </ul>
            </nav> 
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>