<!--<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>-->

<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--<mat-drawer-container class="ex-container">
    <mat-drawer mode="side" opened>
      Friends list buttons go here
      Friend List...
    </mat-drawer>
  </mat-drawer-container>-->
  <div class="container">
      <!--<div class="Xcontainer" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>-->
    <a routerLink="/" class="logo">Twocan, Build 1.</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Home</a></li>
        <li><a href="#" routerLink="/login">Log-In</a></li>
      </ul>
    </nav>
    
  </div>
</header>

<!--<div class="container">
  <div id="cSideNav">
    <a href="#" routerLink="/friends/{id1}">Friend 1</a>
    <a href="#" routerLink="/friends/{id2}">Friend 2</a>
    <a href="#" routerLink="/friends/{id3}">Friend 3</a>
  </div>
</div>-->

<div class="container">
  <router-outlet></router-outlet>
</div>