.side_nav{
    //margin-left : 0px;
    position: absolute;
    left: 0px;
    display:inline-block;
}

.side_side{
    display: inline-flexbox;
    width: auto;
    height: auto;
    vertical-align: middle;

}
// .container{
//     width:50%;
// }