

<div class="adminContainer">
  <div class = "friendsList">
      <h3>Admin</h3>
    <table class="table table-bordered">

        
        <!-- <td><button type="button" (click) = getallUsers() class="btn btn-warning" data-toggle="modal" data-target="#msgModal">View Friends</button></td> -->

        <!-- <tr><td *ngFor="let users of Users"> {{ users["username"] }}</td></tr> -->
          <!-- <tr >
           
            <td *ngFor="let users of Users"> {{ users["username"] }}</td>
            
            
          </tr>
          <tr>
              <td *ngFor="let users of Users"> {{users["email"]}}</td>
          </tr> -->
          
        <tr *ngFor="let users of Users" >
          <td>{{users.username}}</td>
          <td>{{users.email}}</td>
          <td>
            <div *ngIf="users.friends">
              <div *ngFor="let friend of users.friends">
                {{friend.username}}
              </div>
            </div>
          </td>
            <!-- Button call: (click) = removeUser() -->
          <td><button type="button" class="btn btn-warning" (click) = removeUser(users)  value='{{users["username"]}}'>Remove User</button></td>
        </tr>
    </table>
  </div>
</div>
