<p>admin works!</p>

<div class="container">
<table class="table table-bordered">
        <thead class="black white-text">
          <tr>
            <th>Admin </th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row"></th>
            <!-- <td><img [src]="{{el.profile_pic}}"></td> -->
            <td>User1</td>
            <td>User2</td>
            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#msgModal">View Message</button></td>
          </tr>
        </tbody>
</table>
</div>
