
.title{
    text-align: center;
    padding-bottom: 20px;
}
.message_input_wrapper{
    margin: center;
    left:50px;
}
.chat_window {
    position: relative;
    //width: calc(100% - 20px);
    //margin-top: 50px;
    max-width: 400px;
    height: 200px;

    border-radius: 10px;
    background-color: #fff;
    left: 30%;
    top: 50%;
    //transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgb(228, 16, 16);
    //background-color: #f8f8f8;
    overflow: hidden;

    margin-right: 50px;
    display: block;
  }
  .bottom_wrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 10px;
  }
.bottom_wrapper .message_input_wrapper .message_input{
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 5;
    color: gray;
    padding-left: 20px;
  }
#sendBtn{
  position: inline-block;
  margin-left: 70px;
  margin-bottom: 40px;
  

}
// .messages{
//   //background-color: gray;
// }
.top_menu{
  background-color: rgb(250,102,102);
}

