
<body>
    <div class="chat_window">
    
        <div class="top_menu">
          
            <br>
            <div class="title">New Message</div>
        </div>

        
        <ul id ="messages" class="messages">
            <span>Item 1</span>
        </ul>
       
        <div class="bottom_wrapper clearfix">
       <!-- <i id="typing"></i> -->
        <form id="form">
            <div class="message_input_wrapper">
                <input id="message" class="message_input" placeholder="Type Message" />
            </div>
            <button id = "sendBtn"class="btn btn-warning" (click)="send()">Send</button>
        </form>
        </div>
    
    </div>
    
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
       
    
</body>