
.title{
    text-align: center;
}
.message_input_wrapper{
    margin: center;
}
.chat_window {
    position: relative;
    //width: calc(100% - 20px);
    max-width: 400px;
    height: 1000px;
    border-radius: 10px;
    background-color: #fff;
    left: 30%;
    top: 50%;
    //transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgb(228, 16, 16);
    //background-color: #f8f8f8;
    overflow: hidden;

    margin-right: 50px;
    display: block;
  }