<!-- <p>home works!</p> -->
<!-- <nav class="nav flex-column">
  <ul>      
  <a *ngIf="loginService.isUserLoggedIn()" class="nav-link " routerLink="/friends">Friends</a>
  <a class="nav-link" routerLink="/groups">Groups</a>
  <a class = "nav-link" routerLink="/settings">Settings</a> 
  <a class = "nav-link"  routerLink="/login" >Logout</a>
  </ul>
</nav>  -->
<!-- <nav class="nav flex-column">
    <ul>      
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/friends" class="nav-link " >Friends</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/groups">Groups</a>
    <a *ngIf="loginService.isUserLoggedIn()" class = "nav-link" routerLink="/settings">Settings</a> 
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/login" class = "nav-link"   >Logout</a>
    </ul>
  </nav>  -->
  <br>
<div class = "welcomeMsg">
  <h1>Welcome User! </h1>

</div>