

<div class="settingsContainer">
    <h2>Change Password</h2>
    <div class="container">
    <form>
        <br>
        <!-- <label for="inputOldPW">Current Password</label> -->
        <input type="text" id="oldPW" placeholder="Enter current password">
        <br>
        <!-- <label for="inputNewPW">New Password</label> -->
        <input type="text" id="newPW" placeholder="Enter new password">
        <br><br>
        <button type="button" class="btn btn-danger" routerLink="">Submit</button>
    </form>
</div>
</div>
